{% extends 'base.html' %}
{% load jformat%}
{% load humanize %}
{% load static %}
{% block script %}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/test.css' %}">
{% endblock %}
{% block title %} {% endblock title %} 

{% block body %}
<div class="container-fluid mt-2 mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <ul id="lightSlider">
                        <!-- image is folder for pic of variant pic of one product -->
                        <li data-thumb="{{product.image_url}}"> <img src="{{product.image_url}}" /> </li>
                        {% for i in images %}
                        <li data-thumb="{{i.image_url}}"> <img src="{{ i.image_url }}" /> </li>
                        {% endfor %}
                      
                    </ul>
                </div>
            </div>
            <div class="card mt-2">
                <h6 style="text-align: right;">نظرات در مورد محصول</h6>
                <div class="d-flex flex-row">
                    <div class="stars"> 
                        <i class="fa fa-star"></i>  
                    </div> 
                    <span class="ml-1 font-weight-bold">{{product.average}}</span>
                </div>
                <hr>
                <div class="badges">
                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'home:product_comment' product.id %}" style="text-align: right;">
                            {% csrf_token %}
                            <div class="card">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="comment-box">
                                            <h4>امتیاز و دیدگاه کاربران</h4>
                                            <div class="rating">
                                                <input type="radio" name="rate" value="5" id="5"><label for="5">&star;</label>
                                                <input type="radio" name="rate" value="4" id="4"><label for="4">&star;</label>
                                                <input type="radio" name="rate" value="3" id="3"><label for="3">&star;</label>
                                                <input type="radio" name="rate" value="2" id="2"><label for="2">&star;</label>
                                                <input type="radio" name="rate" value="1" id="1"><label for="1">&star;</label>
                                            </div>
                                        </div>
                                            <div class="comment-area">
                                                <textarea name="comment" placeholder="دیدگاه ..." class="form-control" id="comment" rows="4" required oninvalid="setCustomValidity('لطفا نظر خود را درج کنید.')"></textarea>
                                            </div>
                                    </div>
                                 </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary m-2">ارسال دیدگاه</button>
                                            </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
                <hr>
                <div class="comment-section">
                    {% for com in comments %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center"> 
                            <img src="{{com.user.profile.profile_image_url}}" class="rounded-circle profile-image">
                            <div class="d-flex flex-column ml-1 comment-profile">
                                <div class="comment-ratings">
                                    <i class="fa fa-star{% if com.rate < 1 %}-o empty {% endif %}"></i>   
                                    <i class="fa fa-star{% if com.rate < 2 %}-o empty {% endif %}"></i>   
                                    <i class="fa fa-star{% if com.rate < 3 %}-o empty {% endif %}"></i>   
                                    <i class="fa fa-star{% if com.rate < 4 %}-o empty {% endif %}"></i>   
                                    <i class="fa fa-star{% if com.rate < 5 %}-o empty {% endif %}"></i> 
                                 </div> 
                                 <span class="username">{{ com.user.username }}</span>
                            </div>
                        </div>
                        <div class="date"> <span class="text-muted">{{ com.create }}</span> </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="p-2 m-2">
                            {% if user.is_authenticated %}
                                <a href="{% url 'home:comment_like' com.id %}" class="like m-2 cursor">
                                    <i class="fa fa-thumbs-o-up">
                                    <span style="text-align: left;">Like</span>&nbsp &nbsp {{com.total_comment_like}}
                                    </i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
            
            <form method="POST" action="{% url 'home:product_reply' product.id com.id %}">
                {% csrf_token %}
                <textarea name="comment" id="comment" placeholder="پاسخ ..." class="form-control" rows="4"></textarea>
                <div class="mt-2">
                    <button type="submit" class="btn btn-info">ارسال پاسخ</button>
                </div>
            </form>
            {% for data in com.comment_reply.all %}
                <div class="bg-danger text-white mt-2 p-2">
                <p>{{ data.comment }}</p>
                </div>
            {% endfor %}
            {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card" dir="rtl">
                <div class="about" style="text-align: right;">
                    <span class="font-weight-bold" style="text-align: right;">{{product.name}} </span><br><br>

                    {% if product.status == 'Both' %}
                        <form action="" method="POST" style="text-align: right;">
                            {% csrf_token %}
                            انتخاب سایز :<br>
                            {% for data in size %}
                                <input type="radio" value="{{data.id}}" {% if variants.id == data.id %} checked {% endif %} name="select" onchange="this.form.submit();">
                                <a href="" style="text-decoration: none;">{{data.size_variant}}</a>
                            {% endfor %}
                        </form><br>
                        <form action="" method="POST" style="text-align: right;">
                            {% csrf_token %}
                            انتخاب رنگ :<br>
                            {% for data in colors %}
                                <input type="radio" value="{{data.id}}" {% if variants.id == data.id %}checked{% endif %} name="select" onchange="this.form.submit();">
                                <a href="" style="text-decoration: none;">{{data.color_variant}}</a>
                            {% endfor %}
                        </form>


                        {% elif product.status == 'Size' %}
                            <form action="" method="POST" style="text-align: right;">
                                {% csrf_token %}
                                انتخاب سایز :<br>
                                {% for data in variant %}
                                    <input type="radio" value="{{data.id}}" {% if variants.id == data.id %}checked{% endif %} name="select" onchange="this.form.submit();">
                                    <a href="" style="text-decoration: none;">{{data.size_variant}}</a>
                                {% endfor %}
                            </form>
                        {% elif product.status == 'Color' %}
                            <form action="" method="POST" style="text-align: right;">
                                {% csrf_token %}
                            انتخاب رنگ :<br>
                                {% for data in variant %}
                                    <input type="radio" value="{{data.id}}" {% if variants.id == data.id %}checked{% endif %} name="select" onchange="this.form.submit();">
                                    <a href="" style="text-decoration: none;">{{data.color_variant}}</a>
                                {% endfor %}
                            </form><br>

                    {% endif %}
                    <hr>
                  
                    
                    
                    
                    <div class="card">    
                        {% if product.status != 'None' %}
                        <h4 class="font-weight-bold"> قیمت : {{variants.total_price| intcomma}} تومان</h4>
                        <hr>

                        <form method="POST" action="{% url 'cart:add_cart' product.id %}" style="text-align: right;">
                            {% csrf_token %}
                            <input type="hidden" name="select" value="{{variants.id}}">
                            <input type="number" name="quantity" min="1" value="1" max="{{ variants.amount }}" style="border-color: #ff7676;border-radius: 7px;" required oninvalid="setCustomValidity( 'should max={{ variants.amount }}')">
                            <div class="buttons">
                                <button type="submit" class="btn btn-outline-warning btn-long cart">اضافه به سبد خرید</button> 
                                <!-- <button class="btn btn-warning btn-long buy">Buy it Now</button>  -->
                                <button class="btn btn-light wishlist" href="{% url 'home:favourite' product.id %}"> <i class="fa fa-heart"></i> </button>
                           </div>
                        </form>
                        {% else %}
                        <h4 class="font-weight-bold"> قیمت : {{product.total_price| intcomma}} تومان</h4>
                        <hr>
                        <form method="POST" action="{% url 'cart:add_cart' product.id %}">
                            {% csrf_token %}
                            <input type="number" name="quantity" min="1" value="1" max="{{ product.amount }}" style="border-color: #ff7676;border-radius: 7px;" required oninvalid="setCustomValidity( 'shoud max={{ product.amount }}')">
                            <div class="buttons">
                                <button type="submit" class="btn btn-outline-warning btn-long cart">اضافه به سبد خرید</button> 
                                <button class="btn btn-light wishlist" href="{% url 'home:favourite' product.id %}"> <i class="fa fa-heart"></i> </button>
                           </div>
                        </form>
                        {% endif %}
    
                <hr>
            
                
                </div>
            </div>

            <!-- <div class="card mt-2"> <span>Similar items:</span>
                <div class="similar-products mt-2 d-flex flex-row">
                    <div class="card border p-1" style="width: 9rem;margin-right: 3px;">
                        {% for i in similar %}
                        <a href="{% url 'home:detail' i.id %}">
                         <img src="{{i.image_url}}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">{{i.unit_price}}</h6>
                        </div>
                        {% endfor %}
                    </div>                  
                </div>
            </div> -->

           
        </div>
    </div>
</div>


<div class="container-fluid" dir="rtl">
    <h3 style="text-align: right;">جدیدترین محصولات</h3>
    <hr>
  <!-- Swiper1 -->
    <div class="swiper-container slider1" >
  
      <div class="swiper-wrapper" >
        {% for i in create %}
          <div class="swiper-slide"   >
            <div class="card" style="width: 23rem;text-align: center;">
              <img src="{{i.image_url}}" style="height: 250px;width: 250px;" class="card-img-top" alt="..." style="text-align: center;">
              <div class="card-body">
                <h5 class="card-title">{{ i.name }}</h5>
                <a href="{% url 'home:detail' i.id %}" class="btn btn-primary">مشاهده جزئیات محصول</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Add Pagination -->
      <br>
      <br>
      <div class="swiper-pagination">
      </div>
  
    </div>
  </div>
  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
 
 <!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</div>


<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script>
    $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 9
    });
    var swiper = new Swiper('.slider1', {
    slidesPerView: 4,
    spaceBetween: 10,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>

{% endblock body %}



