{% extends 'base.html'%}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/dashbord.css' %}">
{% endblock css %}
{% block title%} {% endblock title%} 

{% block body%}
   <div class="container-fluid">
       <div class="row" style="text-align: right;">

        <div class="col-2">
            <div class="side-menu" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 10px;margin: 10px;border: 5px;">
                <div class="image-container">
                    <a href="{% url 'accounts:profile' %}">
                    <img src="{{user.profile.profile_image_url}}"  alt="" >
                    </a>
                </div>
                <h4 style="text-align: center;">&nbsp;{{profile.user.username}}</h4>
                <hr>
                <a href="{% url 'accounts:update' %}"><i class="fa fa-edit" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;بروزرسانی </a>
                <a href="{% url 'accounts:change' %}"><i class="fa fa-key" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;تغییر رمز عبور</a>
                <a href="{% url 'accounts:history' %}"><i class="fa fa-history" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;تاریخچه</a>
                <a href="{% url 'accounts:favourite' %}"><i class="fa fa-heart" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;علاقه مندی ها</a>
             </div>
        </div>

        <div class="col-8">
            <div class="profile">
                <div class="card-body">    
                    <h6 class="card-subtitle mb-2 text-muted">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-info btn-md" style="width: 300px;">change</button>
                    
                        </form>
                    </h6>                    
                </div>
            </div>
        </div>

        </div>
    </div>
           
{% endblock body%}


<style>
    form ul {
        display: none;
    }
</style>