{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/css/dashbord.css' %}">
{% endblock css %}
{% block title%} {{ profile.user.username }} {% endblock title%} 

{% block body%}
<div class="container-fluid">
    <div class="row" style="text-align: right;">

        <div class="col-2">
            <div class="side-menu" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 10px;margin: 10px;border: 5px;">
                <div class="image-container">
                    <a href="{% url 'accounts:profile' %}">
                    <img src="{{user.profile.profile_image_url}}"  alt="" >
                    </a>
                </div>
                <h4 style="text-align: center;">&nbsp;{{profile.user.username}}</h4>
                <hr>
                <a href="{% url 'accounts:update' %}"><i class="fa fa-edit" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;بروزرسانی </a>
                <a href="{% url 'accounts:change' %}"><i class="fa fa-key" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;تغییر رمز عبور</a>
                <a href="{% url 'accounts:history' %}"><i class="fa fa-history" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;تاریخچه</a>
                <a href="{% url 'accounts:favourite' %}"><i class="fa fa-heart" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;علاقه مندی ها</a>
             </div>
        </div>

        <div class="col-8">
            <div class="profile">

                <table class="table table-striped">
                    <thead style="text-align: right;">
                        <tr>
                        <th scope="col"></th>
                        <th scope="col" style="width:150px;">عکس محصول</th>
                        <th scope="col" style="width:200px;">نام محصول</th>
                        <th scope="col">سایز</th>
                        <th scope="col">رنگ</th>
                        <!-- <th scope="col">price</th>                                             -->
                        <th scope="col" style="width:150px;">قیمت نهایی</th>
                        <th scope="col" style="width:200px;">آدرس</th>
                        <th scope="col" style="width:200px;">وضعیت پرداخت</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                            <tr style="text-align: right;">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td style="width:150px;text-align: right;"><img src="{{i.product.image_url}}" style="width: 50px;height: 50px;" alt=""></td>
                                <td style="text-align: right;">{{ i.product.name }}</td>
                                <td style="text-align: right;">{{ i.variant.size_variant.name }}</td>
                                <td style="text-align: right;">{{ i.variant.color_variant.name }}</td>
                                <!-- <td>
                                    {% if i.product.status != 'None' %}
                                        {{ i.variant.total_price }}
                                    {% else %}
                                        {{ i.product.total_price }}
                                    {% endif %}
                                </td> -->
                                <td style="text-align: right;">
                                    {% if i.product.status != 'None' %}
                                        {% widthratio i.variant.total_price 1 i.quantity %}
                                    {% else %}
                                        {% widthratio i.product.total_price 1 i.quantity %}
                                    {% endif %}
                                </td>
                                <td style="text-align: right;">{{ i.order.address }}</td>
                                <td style="text-align: right;">
                                    {% if i.order.paid == True %}
                                    <p>پرداخت شد</p>
                                    {% else %}
                                    <p>پرداخت نشد</p>
                                    {% endif %}
                                </td>
                                
                            </tr>
                        {% endfor %}
        
                    </tbody>
                </table>


                <!-- <div class="card mt-3 p-5">
                    {% for i in data %}
                        <h2>name :{{ i.product.name }} &nbsp; price: {{i.order.get_price}}</h2>
                        <img src="{{i.product.image_url}}" style="width: 200px;height: 200px;" alt="">
                        <h3>address: {{ i.order.address }}</h3>
                        {% if i.order.paid == True %}
                        <p>پرداخت شد.</p>
                        {% else %}
                        <p>پرداخت نشد.</p>
                        {% endif %}
            
                        <hr>
                    {% endfor %}
                </div> -->
                    
            </div>
        </div>

    </div>
</div>
           
{% endblock body%}

