{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'accounts/css/dashbord.css'%}">
{% endblock css %}
{% block title%} {{ profile.user.username }} {% endblock title%} 

{% block body%}
<br>
   <div class="container-fluid">
        <div class="row" style="text-align: right;" >

           <div class="col-2">
               <div class="side-menu" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 10px;margin: 10px;border: 5px;">
                   <div class="image-container">
                       <a href="{% url 'accounts:profile' %}">
                       <img src="{{user.profile.profile_image_url}}"  alt="" >
                       </a>
                   </div>
                   <h4 style="text-align: center;">&nbsp;{{profile.user.username}}</h4>
                   <hr>
                   <a href="{% url 'accounts:update' %}"><i class="fa fa-edit" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;بروزرسانی </a>
                   <a href="{% url 'accounts:change' %}"><i class="fa fa-key" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;تغییر رمز عبور</a>
                   <a href="{% url 'accounts:history' %}"><i class="fa fa-history" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;تاریخچه</a>
                   <a href="{% url 'accounts:favourite' %}"><i class="fa fa-heart" style="font-size:20px;color: rgba(134, 138, 138, 0.877);"></i>&nbsp;علاقه مندی ها</a>
                </div>
           </div>


           <div class="col-10">
            <br>
            <h4>اطلاعات شخصی</h4>
            <div class="profile">
                <table class="table table-bordered">
                <tbody style="text-align: right;direction: rtl;">

                    <tr>                        
                        <td style="text-align: right">نام کاربری :<br> {{profile.user.username}}</td>
                        <td style="text-align: right">ایمیل :<br> {{profile.user.email}}</td>
                    </tr>

                    <tr>                    
                        <td style="text-align: right">نام :<br> {{profile.user.first_name}}</td> 
                        <td style="text-align: right">نام خانوادگی :<br> {{profile.user.last_name}}</td>                     
                    </tr>

                    <tr>                    
                        <td style="text-align: right">تلفن :<br> {{profile.phone}}</td> 
                        <td style="text-align: right">آدرس :<br> {{profile.address}}</td>                     
                    </tr>

                </tbody>
                </table>

                    <!-- <div class="card-body">    
                        <h6 class="card-subtitle mb-2 text-muted">user :{{profile.user.username}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">name :{{profile.user.first_name}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">last_name :{{profile.user.last_name}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">email :{{profile.user.email}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">phone :{{profile.phone}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">address :{{profile.address}}</h6>
                    </div> -->
            </div>
            </div>

        </div>

        <br>
        <!-- Swiper1 -->
        <div class="row" style="text-align: right;" >
            <div class="container-fluid">
                <h3 style="text-align: right;">جدیدترین محصولات</h3>
                <hr>
                <div class="swiper-container slider1">
                <div class="swiper-wrapper">    
                    {% for j in create %}
                    <div class="swiper-slide">
                        <div class="card" style="width: 23rem;text-align: center;">
                        <img src="{{j.image_url}}" style="height: 250px;width: 250px;" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ j.name }}</h5>
                            <a href="{% url 'home:detail' j.id %}" class="btn btn-primary">مشاهده جزئیات محصول</a>
                        </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <br>
                <br>
                <div class="swiper-pagination">
                </div>
                </div>
            </div>
        </div>
        <!-- end swipper1 -->

    </div>
   <br>
   <br>
           
{% endblock body%}


