{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock css %}

{% block body %}
<!-- Footer -->
<footer class="page-footer font-small dark-color bg-dark" style="color: cornsilk;">

  <div class="color-primary">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
          <!-- <div class="col-md-6 col-lg-6 text-center text-md-right mb-4 mb-md-0">
            <h6 class="mb-0" style="text-align:center;"> ارتباط با ما از طریق شبکه های اجتماعی</h6>
          </div> -->
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-12 col-lg-12 text-center text-md-left">
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
          </div>
          <!-- Grid column -->
      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 pt-md-5">

    <!-- Grid row -->
    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h4 style="text-align: center;">فروشگاه اینترنتی ایران آمازون</h4>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-70">

        <p class="foot-desc mb-0" style="text-align: justify;" >
          فروشگاه اینترنتی ایران آمازون فعالیت خود را در زمینه پوشاک به صورت تخصصی از سال 1398 آغاز نمود
          و با تلاش‌های بی‌وقفه ضمن تنوع بخشیدن به انواع محصولات و همکاری با 
          معتبرترین برندهای دنیا (جین وست، جوتی جینز و بالنو) کیفیت اجناس خود را به میزان قابل توجهی افزایش داده که رضایت اکثریت مشتریان گرامی گواه بر این ادعاست.
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <!-- <h5>Products</h5> -->
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="#!">
              <img style="width: 60px;height: 60px;" src="https://www.banimode.com//themes/new/assets/images/footer/samandehi.png@2x.png" alt="نشان ملی ثبت">
            </a>
          </li>
          <li class="mb-2">
            <a href="#!">
              <img style="width: 60px;height: 60px;" src="https://www.banimode.com//themes/new/assets/images/footer/logo-itehad@2x.png" alt="اتحادیه کسب و کارهای مجازی">
            </a>
          </li>
          <li class="mb-2">
            <a href="#!">
              <img style="width: 60px;height: 60px;" src="https://www.banimode.com//themes/new/assets/images/footer/eanjoman-foot.png" alt="انجمن کسب و کار اینترنتی">
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <!-- <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4"> -->

        <!-- Links -->
        <!-- <h5>Useful links</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="#!">Your Account</a>
          </li>
          <li class="mb-2">
            <a href="#!">Become an Affiliate</a>
          </li>
          <li class="mb-2">
            <a href="#!">Shipping Rates</a>
          </li>
          <li class="mb-2">
            <a href="#!">Help</a>
          </li>
        </ul>

      </div> -->
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <!-- Links -->
        <h5 style="text-align: center;">ارتباط با ما</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="fa-ul foot-desc ml-4" dir="rtl" style="text-align: right;">
          <li class="mb-2">تهران , خیابان ولیعصر <span class="fa-li"><i class="far fa-map"></i></span>
          </li>
          <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>021 88 88 88</li>
          <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>iranamzon@gmail.com</li>
          <li><span class="fa-li"><i class="far fa-clock"></i></span>شنبه - چهارشنبه : 10-17</li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">©  2021 تمامی حقوق متعلق به خرید اینترنتی | فروشگاه آنلاین (شرکت توسعه تجارت الکترونیک ایران آمازون) می‌باشد .
    <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}

<style> 
  .newspaper {
    column-count: 3;
  }
  
</style>